/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 14px;
  background-image: url(../img/bg-lines.png);
  background-attachment: fixed;
  text-align: center;
}

hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-family: 'Philosopher', sans-serif;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 60px;
  font-size: 72px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: rgba(64,54,46,1);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

h2 {
  font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgba(64,54,46,1);
  padding: 10px 20px;
  text-align: center;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

.upCase{
letter-spacing:0.25em;
text-transform: uppercase;
}

/* `Container Params
----------------------------------------------------------------------------------------------------*/
.container_12{
	min-width: 780px;
	max-width: 1920px;
	background-color: rgba(255,255,255, 0.9);
  	margin: 75px 20px 20px;
	border-radius: 20px;
    padding: 10px 0px 0px;

}

.values_container{
	padding: 20px 10px 0px;
	text-align: center;
	background-color: #eee;
	border-radius: 20px;
}




/* Text styles
----------------------------------------------------------------------------------------------------*/

a {
  color: #fff;
  text-decoration: none;
}


p {
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}



abbr{
    border-bottom: 1px;
	border-bottom-style: dotted;
}
   
.nav {

	text-align: center;
	margin: 0px 30px;

}


.nav_item{
	float: left;
	width: 120px;
	height: 70px;
	cursor: ew-resize;

}
.icon{
	width: 120px;
	height: 40px;
}

.nav_item .label{
	border-radius: 10px 10px 0px 0px;
	width: 120px;
	height: 30px;
	background-color: #ddd;
	box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
    box-shadow: inset 0px -4px 10px -4px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px -4px 10px -4px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px -4px 10px -4px rgba(0,0,0,0.3);
}

.nav_item .current{
	background-color: #eee;
	box-shadow: 0px -3px 10px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -3px 10px -5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px -3px 10px -5px rgba(0,0,0,0.5);
}

.nav_item .text{
	display:inline;
	text-decoration: none;
	color: rgba(0, 20, 195, 1);
	border-bottom-color: rgba(0, 20, 195, 0.6);
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	font-size: 12px;
	line-height: 30px;
	font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-style: normal;
}

.nav_item .current .text{
	color: #000;
	border-bottom-width: 0px;

}

.nav_item .text:hover{
	border-bottom-color: rgba(46,49,146,1);
	text-shadow: rgba(0, 20, 195, 0.6);
}

.nav_item .text:visited{
	color: rgba(0, 20, 195, 1);
	border-bottom-color: rgba(0, 20, 195, 0.6);
}

/* Text fiels
----------------------------------------------------------------------------------------------------*/

.field{
	font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 14px; 
	width: 137px;
    height: 25px;
	background: transparent;
	border: none;
	text-decoration: none;
	text-align: right;
	margin-left: 30px;
	color: #000;
	cursor: pointer
}

.field:focus{
	background: #fff;
	border: inherit;
	text-decoration: none;
	color: #000;
}

.demension{
	font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 14px;
	color: #000;
}

.values_block{
	width: 360px;
	border-style: none; 
	margin: 0px 10px 20px;
	padding-bottom: 20px;
	padding-top: 1px;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	text-align: left;
}


.bottom_container{
	margin: 0px 20px 0px;
	padding: 0px 0px 0px;
	height: 45px;
	border-radius: 20px 20px 0px 0px;
}

.upper_container{
	height: 45px;
	border-radius: 0px 0px 20px 20px;
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 20px;
	left: 20px;
	margin: 0px 0px 0px;
	padding: 0px 0px 0px;
}

.uppading{
	padding-top: 10px;
}

.link{
	color: #2e3192;
	text-decoration: none;
	font-size: 14px;
	border-bottom-color: rgba(46,49,146,0.5);
	border-bottom-width: 1px;
	padding-bottom: 1px;
	border-bottom-style: solid;
	cursor: pointer;
}

.link:hover{
	border-bottom-color: rgba(100,100,146,0.5);
}

.internal{
	border-bottom-style: dashed;
}


#slide-minor{
	text-align: right;
}

.upper_menu{
	padding: 15px 20px 0px;	
	float: left;
}

.appstore{
	margin: 0px;
	padding: 0px;
	float: left;
}

.langSelect{
	text-align: right;
	width: 90%;
}